<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Preview</title>
    <link rel="stylesheet" href="/stylesheets/preview.css" />
    <link rel="stylesheet" href="/stylesheets/voucher.css" />
  </head>
  <body>
    <div class="preview-container">
      <% if (emptyMessage) { %>
      <div class="error-message">
        <p class=""><%= emptyMessage %></p>
      </div>
      <% } %>
      <form action="/search" method="post" class="search-container">
        <input
          type="text"
          name="searchInput"
          id="searchInput"
          placeholder="Enter voucher related head"
        />
        <input type="submit" id="findButton" value="Find" />
      </form>

      <div class="resultContainer">
        <h3>Help and Services</h3>
        <img src="/images/previewHelp.png" alt="" />
        <p class="resultParagraph">
          When you use the search bar, you can easily find what you're looking
          for by typing in details like the voucher head and the date in the
          format YYYY-MM-DD. To make your search more specific, enter the exact
          voucher head information accurately. This helps you get precise
          results. The date format, YYYY-MM-DD, makes it simple to find
          information based on a specific date. This way, you can quickly get
          the data you need, making the search for voucher-related info easy and
          efficient.
        </p>
      </div>
    </div>
  </body>
</html>
