<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Preview</title>
    <link rel="stylesheet" href="/stylesheets/preview.css" />
    <link rel="stylesheet" href="/stylesheets/voucher.css" />
  </head>
  <body>
    <div class="preview-container">
      <% if (emptyMessage) { %>
      <div class="error-message">
        <p class=""><%= emptyMessage %></p>
      </div>
      <% } %>
      <form action="/search" method="post" class="search-container">
        <input
          type="text"
          name="searchInput"
          id="searchInput"
          placeholder="Enter head related to voucher"
        />
        <input type="submit" id="findButton" value="Find" />
        <div class="chooseHead">
          <!-- <label for="searchedType">Choose a head option</label> -->
          <select
            id="searchedType"
            class="searchedType"
            name="searchedType"
          ></select>
        </div>
        <div class="createAnother">
          <a class="" href="/">Create another voucher</a>
        </div>
      </form>

      <div class="resultContainer">
        <h2>Help and Services</h2>
        <ul class="resultParagraph">
          <h3>
            You can easily find what you're looking for by typing in details
            like
          </h3>
          <li>
            Voucher head: you can easily choose voucher head from selection box
          </li>
          <li>Date format: YYYY-MM-DD.</li>
        </ul>
      </div>
    </div>

    <script src="/javascripts/previous.js"></script>
  </body>
</html>
