<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Preview</title>
    <link rel="stylesheet" href="/stylesheets/preview.css" />
    <link rel="stylesheet" href="/stylesheets/search.css" />
    <link rel="stylesheet" href="/stylesheets/voucher.css" />
    <!-- <link rel="stylesheet" href="/stylesheets/voucher-responsive.css" /> -->
  </head>
  <body>
    <div class="preview-container">
      <form action="/search" method="post" class="search-container">
        <input
          type="text"
          name="searchInput"
          id="searchInput"
          placeholder="Enter head related to voucher"
        />
        <input type="submit" id="findButton" value="Find" />
        <div class="chooseHead">
          <!-- <label for="exampleSelect">Choose an head options</label> -->
          <select
            id="searchedType"
            class="searchedType"
            name="searchedType"
          ></select>
        </div>
        <div class="createAnother">
          <a class="" href="/">Create another voucher</a>
        </div>
      </form>

      <div class="tableData">
        <table id="employeeTable">
          <thead>
            <tr>
              <th>Voucher No.</th>
              <th>Voucher Date</th>
              <th>Voucher Head</th>
              <th>View Voucher</th>
              <th>Edit Voucher</th>
              <th>Remove Voucher</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>

      <div class="showViewVouceher"></div>
      <div class="showVoucherUpdated"></div>
    </div>
    <script src="/javascripts/previous.js"></script>
    <script src="/javascripts/search.js"></script>
  </body>
</html>
