<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Voucher Saved</title>
    <link rel="stylesheet" href="/stylesheets/stored.css" />
  </head>
  <body>
    <div class="dataStored">
      <h1>Voucher Stored Successfully</h1>
      <div class="voucherBtns">
        <a href="/voucher">Create another voucher</a>
        <a href="/preview">Preview</a>
        <a href="">Print</a>
      </div>
    </div>
  </body>
</html>
