<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fee Form</title>
    <link rel="stylesheet" href="/stylesheets/voucher.css" />
    <link rel="stylesheet" href="/stylesheets/voucher-responsive.css" />
  </head>

  <body>
    <form id="form" action="/" method="POST">
      <% if (errorMessage) { %>
      <div class="error-message">
        <p class="error-message"><%= errorMessage %></p>
      </div>
      <% } %>
      <div class="container">
        <!-- Top-box -->
        <div class="top-box">
          <div class="top-up">
            <div class="logo">
              <img src="/images/himt.jpg" alt="" />
            </div>
            <div class="institute-name">
              <h1>Hindu Institute of Management & Technology</h1>
              <h3>ROHTAK - 124001</h3>
            </div>
          </div>
          <div class="top-down">
            <div class="t-left">
              <div class="voucher-box">
                <h4>Voucher No.</h4>
                <input
                  name="voucher"
                  type="number"
                  id="voucher"
                  min="1"
                  max="10000"
                />
              </div>
              <div class="head-box">
                <h4>Head</h4>
                <input name="head" type="text" id="head" />
              </div>
            </div>
            <div class="t-right">
              <h4>Date</h4>
              <input name="voucherDate" type="date" id="date" />
            </div>
          </div>
        </div>

        <!-- Center1-box -->
        <div class="center1-box">
          <div class="heading">
            <div class="particular">
              <h4>PARTICULARS</h4>
              <button type="button" id="add-particular">+</button>
            </div>
            <div class="amount">
              <h5>Amount</h5>
            </div>
          </div>

          <div class="particular-container">
            <div class="particular-box">
              <div class="fee-type" id="fee-type"></div>
            </div>
            <div class="amount-box">
              <div class="rs-box">
                <h5>Rs</h5>
                <div class="rs" id="rs-type"></div>
              </div>
            </div>
          </div>
          <div class="total">
            <div class="total-heading">
              <h4>Total Amount</h4>
            </div>
            <div class="total-value">
              <span id="total-money">
                <h1>Rs 0</h1>
              </span>
            </div>
          </div>
        </div>

        <!-- Center2-box -->
        <div class="center2-box">
          <div class="center2-left">
            <h5>Passed for Payment of Rs</h5>
            <input name="totalAmount" type="number" id="passes-payment" />
          </div>
          <div class="center2-right">
            <div class="accountant">
              <h3>Accountant</h3>
            </div>
            <div class="director">
              <h3>Director</h3>
            </div>
          </div>
        </div>

        <!-- Bottom-box -->
        <div class="bottom-box">
          <div class="payment-method">
            <h5>
              Received Payment of Rs
              <input type="number" id="payment-type" disabled /> in
              <select id="choose-type">
                <option value="Cash">Cash</option>
                <option value="Cheque">Cheque</option>
              </select>
              <span id="if-cheque"></span>
            </h5>
          </div>
          <div class="reci-sign">Signature of Recipient</div>
        </div>
      </div>

      <div class="saveBtn">
        <button id="saveVoucherData">save</button>
      </div>
    </form>
    <script
      src="https://kit.fontawesome.com/65ed7860c1.js"
      crossorigin="anonymous"
    ></script>
    <script src="/javascripts/voucher.js"></script>
  </body>
</html>
