body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rebeccapurple;
}

.error-message {
  background-color: #fffffff2;
  padding: 6px 10px;
  font-size: 13px !important;
  color: #da0000 !important;
  border-radius: 2px;
  position: absolute;
  top: 15px;
}

.preview-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
}

.search-container {
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: center;
  padding: 10px 5px;
  border-radius: 5px;
  background-color: #ffffff40;
}

#searchInput {
  padding: 8px;
  font-size: 16px;
  border-radius: 4px 0 0 4px;
  width: 50%;
  border: none;
  box-shadow: 0px 3px 5px -1px #686868;
}

#searchInput:focus {
  outline: none;
}

#findButton {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #54439f;
  color: white;
  border: 1px solid #54439f;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  width: 10%;
  text-align: center;
  box-shadow: 0px 3px 5px -1px #686868;
}

#findButton:hover,
.chooseHead:hover,
.createAnother:hover {
  background-color: #4f3ca0;
}

.chooseHead,
.createAnother {
  background-color: #54439f;
  padding: 4px 5px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  margin: 0 3px;
  box-shadow: 0px 3px 5px -1px #686868;
}

.chooseHead > label {
  font-size: 12px;
  color: white;
  cursor: pointer;
  padding: 5px;
}

.createAnother > a {
  color: white;
  text-decoration: none;
  font-size: 12px;
  padding: 7px;
  text-align: center;
}

.searchedType {
  border: none;
  font-size: 12px;
  padding: 7px 5px;
  cursor: pointer;
  border-radius: 1px;
}

.searchedType:focus {
  outline: none;
}

.resultContainer {
  width: 90%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  position: absolute;
  bottom: 20px;
  background-color: #ffffff40;
  border-radius: 3px;
  padding: 15px 20px;
}

.resultContainer h2 {
  padding: 7px 0;
}

.resultParagraph {
  padding: 15px 0;
  font-size: 13px;
  font-family: sans-serif;
  padding: 20px;
}

.searchBtns {
  display: flex;
  align-items: center;
  margin: 7px 0px;
}
