body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.preview-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.search-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding: 20px 0;
}

#searchInput {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  width: 70%;
}

#searchInput:focus {
  outline: none;
}

#findButton {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  width: 10%;
  text-align: center;
}

#findButton:hover {
  background-color: #45a049;
}
