body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.error-message {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

.preview-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding: 20px 0;
}

#searchInput {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  width: 70%;
}

#searchInput:focus {
  outline: none;
}

#findButton {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #5c7acb;
  color: white;
  border: 1px solid #5c7acb;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  width: 10%;
  text-align: center;
}

#findButton:hover {
  background-color: #3c5bb0;
}

.resultContainer {
  width: 90%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  position: absolute;
  bottom: 20px;
  background-color: #8787d55c;
  border-radius: 3px;

  padding: 15px 20px;
}

.resultContainer h3 {
  padding: 20px 0;
}

.resultContainer > img {
  width: 50%;
  height: 100%;
  border-radius: 2px;
  object-fit: contain;
}

.resultParagraph {
  padding: 15px 0;
  font-size: 13px;
  font-family: sans-serif;
}
