.tableData {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  width: 90%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: white;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

.showViewVouceher {
  background-color: #585858c9;
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  display: none;
  z-index: 999;
}

.closeVoucher {
  position: absolute;
  top: 2%;
  right: 2%;
  color: rgb(76, 76, 76);
  cursor: pointer;
  background-color: white;
  padding: 5px;
  border-radius: 3px;
  width: 17px;
  font-size: 15px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

.singleVoucher,
.removeVoucher,
.editVoucher {
  color: white;
  padding: 5px 15px;
  font-size: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #5c7acb;
}

.singleVoucher:hover {
  background-color: #3c5bb0;
}

.singleVoucher:focus {
  border: none;
  outline: none;
}

.searchBtns {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 50%; */
  margin: 30px 20px;
  padding: 20px 25px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.createAnother {
  background-color: #54439f;
  padding: 4px 5px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  margin: 0 3px;
  box-shadow: 0px 3px 5px -1px #686868;
}

.createAnother:hover {
  background-color: #4f3ca0;
}

.showVoucherUpdated {
  display: flex;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  align-items: center;
  justify-content: center;
  background-color: #6a6a6a38;
  backdrop-filter: blur(4px);
  transform: translate(0, -110%);
  transition: all 0.5s ease-in;
}

.showView {
  width: 60%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 12px -2px black;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 27px 30px;
  text-align: center;
  gap: 15px;
}

.editedVoucherCloseBtn {
  position: absolute;
  top: 5%;
  right: 5%;
  background-color: white;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  font-size: 13px;
  font-family: sans-serif;
  color: #484848;
  cursor: pointer;
}

.saveBtn {
  width: 50% !important;
}

.fee-type {
  height: auto !important;
}

@media print {
  body * {
    display: none;
  }

  .closeVoucher * {
    display: none !important;
  }

  .container * {
    display: flex !important;
  }

  .fee-type {
    display: flex;
    flex-direction: column;
  }
  .rs {
    display: flex;
    flex-direction: column;
  }

  .rs-box {
    display: flex;
    flex-direction: column;
  }
  .rs-box > h5 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
