* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: rebeccapurple;
}

/* navbar css */

header {
  background-color: #000000b0;
  padding: 10px px 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
  box-shadow: 0px 0px 6px 2px black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.navLogo {
  width: 50%;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navLogo img {
  width: 40px; /* Adjust the size of your logo */
  height: auto;
  margin-right: 10px;
}

.logo-text {
  color: #fff;
  font-size: 1.2em;
}

.nav-links a {
  color: black;
  text-decoration: none;
  margin-left: 20px;
  font-size: 1.1em;
}

/* Add a hover effect to the links */
.nav-links a:hover {
  border-bottom: 2px solid #fff; /* Adds an underline on hover */
}

/* ------------------------ */
/* ---------------- Form --------------- */
#form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
}

.error-message {
  color: black;
  font-weight: bold;
  font-size: 15px;
}

/* ---------------- Main-Container ---------------- */
.container {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 3);
  padding: 10px;
}

/* ----------------- Top-Section ---------------- */
.top-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding-bottom: 15px;
}

.top-up {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.logo {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 100%;
}

.institute-name {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 0px 10px;
}

.institute-name h1 {
  font-size: 23px;
  text-align: center;
  margin-bottom: 5px;
}

.top-down {
  width: 100%;
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}

.t-left {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

.voucher-box,
.head-box,
.t-right {
  display: flex;
  gap: 2px;
  font-style: italic;
  text-align: center;
  align-items: center;
  font-size: 15px;
}

#voucher {
  border: 0;
  width: 30px;
  text-align: center;
  padding: 0 5px;
  font-size: 12px;
  border-bottom: 2px dotted gray;
}

#voucher::-webkit-outer-spin-button,
#voucher::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#voucher:focus {
  outline: none;
}

#head {
  border: 0;
  border-bottom: 2px dotted gray;
  padding: 0 5px;
}

#head:focus {
  outline: none;
}

#date {
  border: 0;
  border-bottom: 2px dotted gray;
  padding: 0 5px;
  background-color: transparent;
  cursor: pointer;
}

#date:focus {
  outline: none;
}

/* --------------- Center1 Section ----------- */
.center1-box {
  width: 100%;
  margin-top: 5%;
}

.heading {
  display: flex;
  width: 100%;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.particular {
  padding: 10px 0;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.particular h4 {
  margin-left: 15px;
}

.particular button {
  padding: 2px 5px;
  border: none;
  background-color: #80808054;
  border-radius: 2px;
  color: #00000078;
  cursor: pointer;
  margin-right: 10px;
}

.particular button:focus {
  outline: none;
}

.amount {
  padding: 10px 0;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid black;
}

.particular-container {
  display: flex;
  width: 100%;
  border-bottom: 1px solid black;
}

.particular-box {
  width: 70%;
}

.amount-box {
  width: 30%;
  border-left: 1px solid black;
  display: flex;
}

.rs-box {
  width: 100%;
  text-align: center;
}

.rsOptions {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 27px 0;
  width: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.3rem;
}
.rsOptions input {
  width: 80%;
  border-radius: 1px;
  outline: none;
  border: 1px solid #a7a7a752;
  padding: 5px;
  text-align: center;
}

.rsOptions input::-webkit-outer-spin-button,
.rsOptions input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.rsOptions input:focus {
  outline: none;
}

.paise-box {
  text-align: center;
  width: 30%;
  border-left: 1px solid black;
}

.paise input {
  width: 55%;
}

.rs-box h5,
.paise-box h5 {
  border-bottom: 1px solid black;
  padding: 5px 0;
}

.total {
  width: 100%;
  border-bottom: 1px solid black;
  display: flex;
}

.total-heading {
  width: 70%;
  display: flex;
  align-items: center;
}

.total-heading h4 {
  padding-left: 15px;
}

.total-value {
  padding: 10px 0;
  width: 30%;
  border-left: 1px solid black;
  text-align: center;
}

.total-value h1 {
  text-align: start;
  font-size: 20px;
  font-family: auto;
  padding: 0 10px;
}

/* --------------- Center2 Fee Section ----------- */

.fee-type {
  width: 100%;
  height: 35vh;
  padding-top: 35px;
}

.feeOptions {
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 8px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.3rem;
}

.particular-delete {
  padding: 5px 6px;
  font-size: 10px;
  border: none;
  color: white;
  border-radius: 2px;
  cursor: pointer;
  background-color: red;
  opacity: 0;
}

.feeOptions:hover > .particular-delete {
  opacity: 1;
}

.feeOptions label {
  /* border: 0.1px inset brown; */
  border-radius: 4px;
  padding: 5px;
  outline: none;
  cursor: pointer;
}
.feeOptions input:focus {
  outline: none;
}

.feeOptions input {
  cursor: pointer;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-bottom: 0.2px solid #80808061;
  width: 75%;
}

#other-charge {
  font-size: 1rem;
  padding: 6px 10px;
  outline: none;
}

/* --------------- Center2 Section ----------- */
.center2-box {
  width: 100%;
  height: 200px;
  display: flex;
  border-bottom: 1px solid black;
}

.center2-left {
  width: 65%;
  display: flex;
  align-items: center;
}

.center2-left h5 {
  font-size: 17px;
  margin-right: 1%;
}

.center2-left input {
  width: 14%;
  border: 0;
  border-bottom: 2px dotted gray;
  padding: 0px 5px;
  text-align: center;
}

.center2-left input::-webkit-outer-spin-button,
.center2-left input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.center2-left input:focus {
  outline: none;
}

.center2-right {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* --------------- Bottom Section ----------- */
.bottom-box {
  padding-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.payment-method {
  width: 100%;
}

.payment-method h5 {
  font-size: 17px;
}

.payment-method h5 input {
  border: 0;
  width: 20%;
  border-bottom: 2px dotted gray;
  text-align: center;
}

.payment-method h5 input::-webkit-outer-spin-button,
.payment-method h5 input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.payment-method h5 input:focus {
  outline: none;
}

.payment-method h5 select {
  border: 0.5px solid black;
  cursor: pointer;
  font-weight: bold;
  padding: 3px 2px;
  border-radius: 2px;
  margin: 0 5px;
}

.payment-method h5 select:focus {
  outline: none;
}

.cheque-date {
  cursor: pointer;
  background-color: transparent;
}

.reci-sign {
  display: flex;
  padding: 10px 0;
  align-items: center;
  justify-content: flex-end;
  font-weight: bold;
  font-style: italic;
  margin-top: 5%;
}

/* DataBase Button */
.databaseBtn {
  position: fixed;
  top: 0;
  left: 3%;
}

/* Save Button */
.saveBtn {
  width: 100%;
  padding: 10px 0;
  margin-top: 5%;
  display: flex;
  justify-content: flex-end;
}

#saveVoucherData {
  padding: 5px 15px;
  border: none;
  font-weight: 700;
  cursor: pointer;
}

#saveVoucherData:active {
  border: none;
}

/* -------------------- preview page --------------------- */

.preview-page {
  color: #4d3268;
  background-color: #ffffffc9;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 15px;
  text-decoration: none;
  font-family: sans-serif;
}

.preview-page:hover {
  /* background-color: ; */
}
